.page {
  background-image: var(--bg-image, url("../images/cover-image-dark.png"));
  background-color: var(--bg-color, #000028);
  color: var(--text-color, #f1b2ce);
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  font-size: 18px;
  line-height: 1.3;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decorated-zone-color, #ff0070);
  border-inline-end: 1px solid var(--decorated-zone-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decorated-zone-color, #ff0070);
  border-inline-start: 1px solid var(--decorated-zone-color, #ff0070);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: var(--content-padding, 10px);
  position: relative;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color, #ff0070);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 13px;
  color: var(--decorated-zone-color, #ff0070);
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: color-mix(in srgb, currentColor 40%, transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.header__title {
  justify-self: start;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__description {
  justify-self: end;
  align-self: end;
  margin-block-end: 56px;
  max-inline-size: 355px;
}

.header__description-line {
  display: block;
}

.main {
  display: grid;
  gap: var(--main-gap, 50px);
  margin-block: 40px;
}

.content-section {
  padding-inline: var(--content-padding, 10px);
}

.section-title {
  color: var(--decorated-zone-color, #ff0070);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  margin-block-end: 20px;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--title-decor-color, #000028);
  font-weight: 700;
}

.section-subtitle {
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 20px;
}

.card:not(:last-child) {
  margin-block-end: 20px;
}

.card__title {
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.card__title_regular {
  font-weight: 400;
}

.card__text {
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  line-height: 23.4px;
}

.card__text:not(:last-child) {
  margin-block-end: 10px;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.card__link:hover {
  border-block-end: 1px solid var(--text-color, #f1b2ce);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color, #f1b2ce);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery .section-title {
  margin-block-end: 0;
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  place-items: center;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: 700;
  color: var(--title-color, #db00ff);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (width >= 768px) {
  :root {
    --main-gap: 80px;
    --content-padding: 20px;
  }

  .header {
    min-block-size: 1024px;
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
    margin-block-start: 12px;
  }

  .header__description {
    max-inline-size: 364px;
    margin-block-end: 163px;
  }

  .main {
    margin-block: 60px;
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    row-gap: 0;
  }

  .section-title {
    grid-column: 1;
    grid-row: 1 / span 99;
    align-self: start;
    margin-block-end: 0;
  }

  .card,
  .section-subtitle {
    grid-column: 2;
  }

  .content-section_type_causes {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_type_causes .section-title {
    grid-column: 1;
    grid-row: auto;
    margin-block-end: 20px;
  }

  .content-section_type_causes .card {
    grid-column: 1 / -1;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image {
    block-size: 100%;
  }

  .gallery .section-title {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .gallery__image_sunset {
    grid-column: 1 / 3;
  }

  .gallery__image_ice-cream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__image_tape {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__image_street {
    grid-column: 2 / 4;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    block-size: 100vh;
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
  }

  .header__title {
    margin-inline-start: -20px;
    margin-block-start: 158px;
  }

  .header__theme-menu-list {
    margin-block-start: 0;
    grid-auto-flow: column;
  }

  .header__description {
    max-inline-size: 491px;
    margin-block-end: 114px;
  }

  .footer {
    min-block-size: 768px;
  }

  .content-section:not(.content-section_type_causes):not(.gallery) {
    grid-template-columns: 1fr 2.06fr;
  }

  .content-section_type_causes {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content-section_type_causes .section-title {
    grid-column: 1 / -1;
    max-inline-size: calc((100% - 20px) / 3);
  }

  .content-section_type_causes .card {
    grid-column: auto;
  }

  .content-section_type_causes .card:not(:last-child) {
    margin-block-end: 0;
  }
}
