:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --title-decor-color: #000028;
  --font-family: 'IBM Plex mono', monospace;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --main-gap: 50px;
  --content-padding: 10px;
}